body {
    margin: 0px;
}

.htmlBody {
    height: 98vh;
}

.top {
    width: 100%;
    height: 45%;
    border-bottom: 2px solid #f3f3f3;
}

.bottom {
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.BarBanner {
    height: 90px;
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.logoContainer {
    width: 20%;
    height: 90px;
}

.openRecipe {
    width: 20%;
    line-height: 90px;
    font-weight: bold;
}

.title {
    width: 20%;
    position: relative;
    left: 25%;
    line-height: 90px;
    font-weight: bold;
}

.loginRemark {
    width: 20%;
    position: relative;
    left: 35%;
    line-height: 90px;
    font-weight: bold;
}

.loginOut {
    
    width: 10%;
    line-height: 90px;
    float: right;
    position: relative;
    left: 30%;
}

.logoBorder {
    width: 86px;
    margin: 0 auto;
    height: 86%;
    border: 2px solid #d3d3d3;
}

#currentComment {
    resize: none;
}

.logoImg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.topMain {
    width: 90%;
    display: flex;
    height: calc(100% - 90px);
    margin: 0 auto;
}

.avatarContainer {
    width: 20%;
}

.avatarBorder {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border: 2px solid #d3d3d3;
    margin-top: 30px;
}

.favoriteAndLike {
    display: flex;
    width: 100%;
    margin-top: 20px;
    color: gray;
}

.favorite,
.like {
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.favoriteNumberBorder,
.likeNumberBorder {
    width: 110px;
    height: 68px;
    margin: 0 auto;
    line-height: 68px;
    border: 2px solid #d3d3d3;
    margin-bottom: 5px;
}

.mainRemark {
    width: 60%;
    padding: 0px 10px;
}

.recipeRemark {
    width: 100%;
    height: 40px;
}

.recipeName,
.recipeDesciption {
    height: 20px;
    line-height: 16px;
}

.detailsAndSteps {
    display: flex;
    height: calc(100% - 50px);
    margin-top: 10px;
}

.details,
.steps {
    width: 50%;
    padding: 10px;
    /* background: url("images/stickyNote.jpg") no-repeat;
    background-size: contain;
    background-position: center; */
    position: relative;
}

.detailRemark {
    width: 40%;
    height: 90%;
    margin: 0 auto;
    word-break: break-word;
    border: 5px solid #f4b550;
}

.personMessage {
    width: 20%;
    text-align: center;
    color: gray;
}

.personName {
    position: relative;
    left: 30%;
    display: flex;
    width: 100%;
    height: 30px;
}



.avatar {
    width: 25px;
    height: 25px;
}

.avatarName {
    display: inline-block;
    border-bottom: 1px solid #000;
    width: calc(100% - 30px);
    text-align: center;
}

.personFollowing {
    width: 110px;
    height: 68px;
    margin: 0 auto;
    line-height: 68px;
    border: 2px solid #d3d3d3;
    margin-bottom: 30px;
    margin-top: 30px;
    color: darkgray;
    font-weight: bold;
    cursor: pointer;
}

.commentContainer {
    width: 100%;
}

.commentInput {
    width: 320px;
    /* position: absolute; */
    margin: 10px auto;
    height: 60px;
    display: flex;
}

.commentInput input {
    margin-left: 10px;
    display: block;
}

#commentContainer {
    /* height: calc(100% - 70px); */
    overflow-y: auto;
}



.commentDiv {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 60px;
    margin-bottom: 10px;
}

.commentAvatar {
    width: 20%;
}

.commentImgBorder {
    width: 60px;
    height: 60px;
    border: 1px solid #d3d3d3;
    margin: 0 auto;
}

.commentImg {
    width: 60px;
    height: 60px;
}

.commentMain {
    width: 60%;
}

.commentUserName,
.commentContent {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.commentTime {
    width: 20%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}


.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.bg-dark {
    --bs-bg-opacity: 1;
    /* background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; */
    background-color: #212529;
}

.Container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 52%;
    height: 40px;
    margin: 0 auto;
    
}

.navbar-dark .navbar-brand {
    position: relative;
    left: -250px;
    color: #fff;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-expand .navbar-nav {
    flex-direction: row
}

.me-auto {
    margin-right: auto !important;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .75);
    position: relative;
    left: -250px;
    
}



.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.Title {
    display: flex;
    height: 56px;
    justify-content: center;
    background-color: #7DA395;
    font-size: 2.5rem
}


.btn-secondary {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn-outline-success {
    position: relative;
    left: 20%;
    color: #198754 !important;
    border-color: #198754 !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}